@font-face{
	src:url('Montserrat-Regular.otf');
	font-family:Monsterrat;
}

@font-face{
	src:url('BeforeTheRain.ttf');
	font-family:BeforeRain;
}

@font-face{
	src:url('LadylikeBB.ttf');
	font-family:LadylikeBB;
}

@font-face{
	src:url('Gtoles.ttf');
	font-family:Gtoles;
}

@font-face{
	src:url('Variane Script.ttf');
	font-family:variane;
}

@font-face{
	src:url('Sweet_Hipster.ttf');
	font-family:sweet;
}